$primaryColor: #000000; 
$secondaryColor: #e69500;
$accentColor: #e69500;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;